<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete A User</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create Users</a>
      </div>

    <div class="form-add-new">
        <form action="/delete-user" method="POST">
            <fieldset>
                <legend>Delete a users</legend>

                <div class="input-group d-none">
                    <label for="">Id: </label>
                    <input value="<%= userEdit.id %>" type="text" name="userId">
                </div>

                <div class="input-group">
                    <label for="">Are you sure to delete with Email: </label>
                    <input value="<%= userEdit.email %>" type="text" name="email">
                </div>
                <div>
                    <button>Confirm</button>
                </div>

            </fieldset>
        </form>
    </div>
    
</body>
</html>